body{
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh !important;
}

main{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.page-title{
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 60px;
}